{% extends 'base.html' %}

{% load static %}


{% block title %} Home {% endblock %}

{% block body %}


<!-- Page Header -->
<header class="masthead" style="background-image:url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>People Are Talking About Your BLOG</h1>
                    <span class="subheading">Find them and join the conversation</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in object_list %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
<!--                        Man must explore, and this is exploration at its greatest-->
                        <a href="{% url 'detail' post.pk %} ">{{post.title}}</a>
                    </h2>
                    <h5 class="post-subtitle">
<!--                        Problems look mighty small from 150 miles up-->
                        {{ post.title_tag }}
                    </h5>
                </a>
                <p class="post-meta">Posted by: {{post.author}}
                    {{post.pub_date}}</p>
            </div>
            <hr>
            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right clrfix" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}
